name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.4
            gemfile: Gemfile
          - ruby: 3.4
            gemfile: gemfiles/activerecord80.gemfile
          - ruby: 3.3
            gemfile: gemfiles/activerecord72.gemfile
          - ruby: 3.2
            gemfile: gemfiles/activerecord71.gemfile
          - ruby: 3.1
            gemfile: gemfiles/activerecord70.gemfile
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v5
      # for faiss
      - run: sudo apt-get update && sudo apt-get install libblas-dev liblapack-dev
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: actions/cache@v5
        with:
          path: ~/.cache/disco
          key: disco-v2
      - run: bundle exec rake test
